/* styles.css */

.movie-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  min-height: 100vh;
}

.container {
  padding: 20px;
  display: flex;
  flex-direction: row;
  border-radius: 5px;
  width: 100%;
}

.img_movie {
  width: 350px;
  height: auto;
  border: 2px solid #333;
  border-radius: 5px;
}

h1 {

  font-size: 28px;
  margin-left: 20px;
  padding: 10px 0;
}

.movie-desc {
  font-size: 16px;
  text-align: left;
  margin-left: 20px;
}

.movie-info-section {
  display: flex;
  flex-direction: column; /* Colocar as informações uma abaixo da outra */
  margin-top: 20px;
  text-align: left;
  margin-left: 20px;
}

.movie-info {
  font-size: 16px;
  margin: 5px 0;
  width: 130px;
  border-radius: 15px;
  background-color: #333;
  margin-right: 10px;
  padding: 10px;
}

.button-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-left: 20px;
}

.link_button {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

.link_button:hover {
  background-color: #555;
}
